.file {
    &__label {
        float: left;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 20px;
        padding: 20px;
        justify-content: center;
        margin-top: 10px;
        background-color: #eee;
        cursor: pointer;
        border-radius: 8px;
        margin-bottom: 20px;
      }
    
      &__input {
        opacity: 0;
        position: absolute;
        z-index: -1;
      }
    
}