.auth {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  &__title {
    margin-bottom: 1.2rem;
  }

  &__form {
    border: 1px black solid;
    padding: 1.5rem;
    width: 460px;
    margin-bottom: 1.2rem;
    border-radius: 8px;
  }

  &__link {
    a {
      color: rgb(54, 175, 54);
    }
  }
}
